{{position | json}}
<div style="width: 500px; height: 400px; max-width: 100vw; max-height: 100vh; position: absolute;">
    @defer (when center) {
    <button (click)="getCurrentPosition()" class="btn">Locate Me</button>
    <google-map [center]="center" height="100%" width="100%" [zoom]="zoomLevel" [ngStyle]="mapStyles">
        <!-- <ng-container *ngFor="let position of markerPositions; index as i"> -->
        <map-marker #marker (mapDragend)="move($event)" [position]="position" [options]="markerOptions" />
        <map-info-window #infoWindow>
            <div #info></div>
        </map-info-window>
        <!-- </ng-container> -->
    </google-map>
    }

    @if (center) {
    }
    @else {
    <h2>Please Wait</h2>
    }
</div>